<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">    
    <router id="admin">
        <route id="polywood_customerinfo" frontName="polywood_customerinfo">
            <module before="Magento_Backend" name="Polywood_CustomerInfo"/>
        </route>
        <route id="customerinfo" frontName="customerinfo">
            <module name="Polywood_CustomerInfo" />
        </route>
    </router>
</config>